name: Build APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      
      # Ye magic line missing folders (android/ios) khud bana degi
      - run: flutter create .
      
      - run: flutter pub get
      - run: flutter build apk --release --no-tree-shake-icons
      
      - uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: build/app/outputs/flutter-apk/app-release.apk
